<!-- app.component.html -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">My App</a>

    <!-- Collapse toggler (ngx-bootstrap CollapseDirective) -->
    <button
      class="navbar-toggler"
      type="button"
      (click)="isNavbarCollapsed = !isNavbarCollapsed"
      [attr.aria-expanded]="!isNavbarCollapsed"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" [collapse]="isNavbarCollapsed" [isAnimated]="true">
      <ul class="navbar-nav me-auto">
        <!-- <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li> -->

        <li class="nav-item">
          <a class="nav-link" routerLink="/store" routerLinkActive="active"> Products </a>
        </li>
      </ul>

      <ul class="navbar-nav">
        @if (!isUserAuthenticated()) {
          <li lass="nav-item me-3">
            <a class="nav-link" routerLink="/account/login">Login</a>
          </li>
          <li class="nav-item me-3">
            <a class="nav-link" routerLink="/account/register">Signup</a>
          </li>
        }

        @let basket = basketService.basketSource$ | async;
        @if (isUserAuthenticated()) {
          <li lass="nav-item me-3">
            <a class="nav-link" role="button" routerLink="/basket">
              <i class="fa fa-shopping-cart"></i>
              @if (basket) {
                <span class="badge bg-danger">
                  {{ getBasketItemsCount(basket.items) }}
                </span>
              }
            </a>
          </li>
        }

        @if (isUserAuthenticated()) {
          <li class="nav-item me-3">
            <a class="nav-link" role="button" (click)="logout()"> Logout </a>
          </li>
        }
      </ul>
    </div>
  </div>
</nav>
